:root {
    --almanac-background: #bcb6bb;
    --almanac-accent: #b9503e;
    --white: #fff;
    --black: #222;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue" ,Arial, sans-serif;
    font-size: 22px;
    line-height: 48px;
    background: var(--almanac-background);
    text-align: center;
}

.wrapper {
    width: 700px;
    margin: 0 auto;
}

.almanac__header--grays {
    margin-top: 0;
    background: var(--almanac-accent);
    color: var(--white);
    display: flex;
    justify-content: space-between;
}

.almanac__header--sports {
    color: var(--almanac-accent);
}

.almanac__header--title {
    text-shadow: 2px 2px 0 var(--black), 4px 4px 0 var(--black);
    color: var(--white);
}

.result:hover {
    background-color: var(--almanac-accent);
    color: var(--white);
}
